<ion-header>
  <ion-navbar>
    <ion-title>Главная</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Расчет обьема и массы нефти в ЖД цистернах</h2>

  <ion-list>
    <ion-item>
      <ion-label>Тип ЖД цистерны :</ion-label>
      <ion-select #newSelect [(ngModel)]="carbrand" (ngModelChange)="onChange(carbrand)">
        <ion-option *ngFor="let item of inCheck" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Высота - 1(м) :</ion-label>
      <ion-input type="tel" #height1></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Высота - 2(м) :</ion-label>
      <ion-input type="tel" #height2></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Плотность нефти (кг/м^3) :</ion-label>
      <ion-input type="tel" #pressure></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="getAll()">Рассчитать</button>

  <div class = "ans" *ngIf="showStatement">

    <h2>Обьем нефти (м^3): {{volume}}</h2>
    <h2>Масса нефти (кг): {{mass}}</h2>
  </div>
</ion-content>
